.scheduler {
  padding:5px;
  border-radius: 5px;
  background-color: #202123;
}

div.scheduler-view {
  border: none;
  
}

table.scheduler {
  background-color: #202123;
  max-width: 1440px;
}

table.scheduler > thead{
  display:none
}

table.scheduler > tbody > tr > td:first-child {
  width:0% !important;
}

.resource-view{
  display: none;
}

.ant-popover-inner{
  background-color: #202123;
  border: solid #ddd 1px;
}
.ant-popover-placement-bottomLeft >.ant-popover-content>div.ant-popover-arrow {
  top:3px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}


th.header3-text {
  font-size: x-small;
}

th.header3-text > div{
  top:0;
  float:left;
  margin: 0 5px;
}

.scheduler-bg-table>thead>tr{
  border-bottom: none
}

div.scheduler-view>div {
  border: none !important;
  
}

.scheduler-bg-table>tbody>tr{
  border: none;
}

.scheduler-bg-table>tbody>tr>td{
  border-bottom: none;
}

.scheduler-bg-table>tbody>tr>td:nth-child(odd){
  border: none;
}

.scheduler-view>div:first-child>div{
  overflow: auto !important;
}