.todo{
    flex-direction: row;
    width: 240px;
    display: flex;
}

.todo-input{
    width: 210px;
    border:none;
    margin: 8px 0px;
    resize: none;
    font-size: 15px;
}

.MuiCheckbox-root {
  color:rgba(255, 255, 255, 0.7) !important;
}