.nota {
  position: absolute;
  z-index: 9;
  width: 150px;
  background-color: #333;
  border: 1px solid #000;
}

.nota-todo {
  position: absolute;
  z-index: 9;
  width: 250px;
  background-color: #333;
  border: 1px solid #000;
}

.nota-header {
  height: "100%";
  padding: 0 0px;
}

.nota-header-content {
  text-align:center;
  z-index: 10;
  margin: 0 0px;
  min-height: 26px;
  background-color: #444;
  color: #ccc;
  font-size: 16px;
  font-style:normal;
  font-weight: bold;
  resize: vertical;
  width: 95%;
  border: 0px solid #333;
}

.nota-bar {
  height: 17px;
  background-color: #444;
  color: #ccc;
  width: 100%;
  display: flex;
}

.nota-drag {
  cursor: move;
  flex: 1;  
}

.icon {
  height: 15px;
  padding-bottom: 2px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0;
  margin: 0px;
}

.nota-close {
  height: 15px;
  background-color: #800;
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 10px;
  font-size: 10px;
  flex: 0 0 15px; 
}

.nota-content {
  padding: 0 5px;
  resize: both;
  height: 70px;
  min-height: 40px;
  background-color: #333;
  text-align: left;
  font-size: 15px;
  color:#ccc;
  
  font-style:oblique;
  width: 90%;
  border: 0px solid #333;
  border-style:solid;
}

.nota-content-todo {
  padding: 0 5px;
  resize: both;
  height: 70px;
  min-height: 40px;
  background-color: #333;
  text-align: left;
  font-size: 15px;
  color:#ccc;
  
  font-style:oblique;
  width: 90%;
  border: 0px solid #333;
  border-style:solid;
}

textarea::placeholder {
  color: #fff;  
}